[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/aave-address-book"]
	path = lib/aave-address-book
	url = https://github.com/aave-dao/aave-address-book
	branch = v3.7-fixes
